
.fondoPrincipal{
background-color: #90b0e7;
min-height: 100vh;

}

.botonFrase{
    transition: 99ms;
     padding: 7px;
    background-color:  orange;
    border-radius: 4px;
    border: none;
}

.botonFrase:hover{
    transition: 99ms;
    padding: 7px;
    background-color:  yellow;
    border-radius: 4px;
    border: none;
}

